# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

#Ignore all sass-cache
.sass-cache
sites/all/themes/*/.sass-cache
sites/all/themes/*/.sass-cache
.htaccess


/node_modules/
