/*
.form-textarea-wrapper textarea {
  width: auto !important;
}

div.ctools-modal-content .resizable-textarea {
  margin:0 !important;
}
*/

.resizable-textarea .grippie {
  visibility: hidden;
}

/* Override inline dom styles from modal.js */
#modalContent {
  position: fixed !important;
  top: 0% !important;
  bottom: 12% !important;
  right: 4% !important;
  left: 4% !important;
}
/* Limit max width to 1000px */
div.ctools-modal-content {
  width: 100% !important;
  margin: 0 auto;
  max-width: 1000px;
}
div.ctools-modal-content .modal-content {
  width: 100% !important;
  padding: 0;
}

/*
div.ctools-modal-content .modal-content label {
	line-height: 1.2;
}

div.ctools-modal-content .modal-content .description {
	color: #606060;
	font-size: 0.75em;
}
*/

div.ctools-modal-content .modal-content .resizable-textarea .grippie {
	height: 2px;
}