.form-textarea-wrapper textarea {
  width: auto !important;
}

div.ctools-modal-content .resizable-textarea {
  margin:0 !important;
}

.resizable-textarea .grippie {
  visibility: hidden;
}

/* Override inline dom styles from modal.js */
#modalContent {
    position: fixed !important;
    top: 0% !important;
    bottom: 12% !important;
}