/**Custom Styling for Base OneEPA Theme**/
.main-column h1 {
    text-align: center;
}

.main-column h2 {
    text-align: center;
    color:#369;
    margin-bottom:2.5em;
}

ul.accordion li {
    margin-top:10px;
}

/**Custom Styling for Additional Elements**/
.feature-container {
    float:left;
    width:50%;
}

.credential-selection {
    float:right;
    text-align:center;
    background:#fefefe;
    border:1px solid #cccccc;
    padding:15px;
    width:45%;
}

.credential-selection p {
    padding-bottom: 0.5em;
    margin-top:20px;
}

.credential-selection h2 {
    margin-bottom: 0;
}

.feature-container h2 {margin-bottom: 20px; text-align: left;}

ul.release-notes {
    list-style-type:none;
    margin:0;
    padding-left:0.8em;
    padding-bottom: 1em;
    border-left:5px solid #cccccc;
}

.portal-landing-selection h2 {
    color: #336699;
}

.border {border:1px solid #000000;}
