/* Uses GetBootstrap as model for syntax highlighting */

.c {color: #999;}
.nt {color: #2f6f9f;}
.na {color: #4f9fcf;}
.s {color: #d44950;}
label {font-weight:normal !important;}


.sr-only {position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*---------MESSAGES------------*/
input {padding:2px 5px;}
input:focus {border: #0099CC solid 2px;}
.msg-info {font-size: 12px; font-weight: bold; background: #c4e2ff url(images/information.png) 5px center no-repeat;padding: 10px 30px; border: #658fbe 1px solid;}
.msg-info-clickable {cursor:pointer;font-size: 12px; font-weight: bold; background: #c4e2ff url(images/information.png) 5px center  no-repeat;padding: 10px 30px; border: #658fbe 1px solid;}
.msg-info-clickable U {color: #164fa1;}
.x-window-dlg .ext-mb-info {background-image: url(images/information.png)}
.msg-warning,.x-window-dlg .ext-mb-warning {font-size: 12px; font-weight: bold; background: #fff9d7 url(images/error.png) 5px center no-repeat;padding: 10px 30px; border: #e2c822 1px solid;}
.x-window-dlg .ext-mb-warning {background-image: url(images/error.png);}
strong.error, .msg-error {display:inline;cursor:pointer;font-size: 0.9em; font-weight: bold; background: #ffebe8 url(images/exclamation.png) 5px center  no-repeat;padding: 10px 30px; border: #dd3c10 1px solid;}
.msg-error U {color: #164fa1;}
.x-window-dlg .ext-mb-error {background-image: url(images/exclamation.png);}
.validation-message {font-size: 12px; margin: 5px 0;border-top: #a6a69f 1px solid}