
#my-cdx {
    margin-top: 2rem;
}

.my-cdx-detail-group {
    margin-top: 20px;
}

.page-app-connect .paging_simple {
    float: right;
}

#my-cdx-modal-content {
    display:none;
}

.my-cdx-modal-content {
    border: 1px solid #000;
    width: auto !important;
    max-width: 320px !important;
    margin-left: -140px !important;
    margin-top: -170px !important;
    top: 50% !important;
    left: 50% !important;
}

.my-cdx-loader {
    text-align: center;
    width: 100%;
}