/**
 * @file
 * Styles for the mobile menu.
 */

.mobile-nav {
  font-size: 16px;
}

.mobile-nav a {
  border: 2px solid transparent;
  border-radius: 4px;
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.mobile-bar {
  background-color: #111;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
  color: #eee;
  height: 3.375em;
}
.mobile-bar > a {
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,.05) 45%, rgba(0,0,0,.05) 55%, rgba(0,0,0,.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,.05) 45%, rgba(0,0,0,.05) 55%, rgba(0,0,0,.1) 100%);
  background-image: -o-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,.05) 45%, rgba(0,0,0,.05) 55%, rgba(0,0,0,.1) 100%);
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,.05) 45%, rgba(0,0,0,.05) 55%, rgba(0,0,0,.1) 100%);
  background-image: linear-gradient(top, rgba(255,255,255,.1) 0%, rgba(255,255,255,.05) 45%, rgba(0,0,0,.05) 55%, rgba(0,0,0,.1) 100%);
  color: #eee;
  float: left;
  height: 2.75em;
  line-height: 2.5;
  margin: .3125em 0 .3125em 1em;
  padding: 0 1em;
}
.mobile-bar > a:focus,
.mobile-bar > a:hover {
  background-color: #777;
  outline: 0;
}
.mobile-bar > a:focus {
  border-color: #ccc;
}
.mobile-bar > a:active,
.mobile-bar > a.menu-button-active {
  background-color: #369;
}

.mobile-bar > .mobile-home {
  height: 44px;
  padding: 0;
}
.mobile-home-icon {
  background: url(../images/icons.png) no-repeat 0 -52px;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 40px;
  text-shadow: none;
  width: 44px;
}

.menu-button {
  font-weight: bold;
  padding: 0 1em;
  text-decoration: none;
}

.mobile-nav .mobile-links {
  background: #000;
  border: 0;
  color: #eee;
  padding: .5em 0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.mobile-nav .mobile-links a {
  background: transparent;
  font-weight: bold;
  line-height: 2.75;
  margin: 0 .5em .5em;
  padding: 0 1em;
}
.mobile-nav .mobile-links a:focus,
.mobile-nav .mobile-links a:hover,
.mobile-nav .mobile-links a:active {
  background: #356697;
  color: #fff;
}
.mobile-nav .mobile-links a:focus {
  border-color: #ddd;
  outline: 0;
}

.mobile-nav .mobile-links a:after {
  content: '>';
  float: right;
}

.mobile-nav .sub-menu {
  padding-left: 1em;
}

.js .simple-nav,
.main-nav,
.secondary-nav {
  display: none;
}
@media screen and (min-width: 40em) {
  #mobile-nav {
    display: none;
  }
  .js .simple-nav,
  .main-nav,
  .secondary-nav {
    display: block;
  }
}
