
.ui-widget-content.locations-modal{
  max-height: none;
  height: 380px;
  min-width:300px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ui-widget-content.locations-modal .ui-dialog-buttonpane {
  overflow-y: hidden;
}

/*.ui-widget.locations-modal,
.ui-widget.locations-modal .ui-menu .ui-menu-item {
  font-family: Lato, "Source Sans Pro", sans-serif !important;
}*/


/*.ui-widget-content.locations-modal, .ui-widget-content.locations-modal button {
  font-size: 83% !important;
}*/

/*.page-workbench .ui-widget-content.locations-modal button {
  padding: .4em 1em;
    font-family: Lato, "Source Sans Pro", sans-serif !important;
}*/


/* line 1131, ../sass/styles.scss */
/*.ui-widget.locations-modal .ui-state-hover,
 .ui-widget-content.locations-modal .ui-state-hover,
 .ui-widget.locations-modal .ui-widget-header .ui-state-hover,
 .ui-widget.locations-modal .ui-state-focus,
 .ui-widget-content.locations-modal .ui-state-focus, .ui-widget-content.locations-modal .ui-widget-header .ui-state-focus {
  border: 1px solid #dedede;
  background: #f3f3f3;
}*/


.radio-options-holder input[type=radio], .radio-options-holder input.radio { margin-right: 5px; }

.locations-modal .ui-dialog-titlebar-close {
  display:none;
}

.locations-modal .ui-dialog-buttonpane {
  border: none;
}

/*.ui-widget-overlay {
     opacity: 0.9 !important; 
}*/

 /*.locations-modal button:hover{
  border: 1px solid #dedede;
  background: #f3f3f3;
}*/

.ee-workbench-header-block.ee-workbench-header-setlocation {
    float: left;
    margin-left:0px;
  padding: 5px 10px 5px;
}

.block--ee-header-locations .ee-workbench-header-setlocation select{
  max-width: 150px;
  width: auto;
  overflow:hidden; 
    white-space:nowrap;
    -ms-text-overflow:ellipsis;
    text-overflow:ellipsis;
}

.locations-modal-ul{
  padding-bottom: 0;
}