#air-emissions-chart svg {
    display: block;
}

#air-emissions-chart .axis path,
#air-emissions-chart .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#air-emissions-chart .bar {
    fill: steelblue;
}

#air-emissions-chart .x.axis path {
    display: none;
}

#air-emissions-chart tspan.emissions-watch-donut-small-subtitle {
    fill: gray;
    font-size: 80%;
}

#air-emissions-chart tspan.emissions-watch-bar-chart-small-subtitle {
    font-size: 80%;
}

#air-emissions-chart .axis {
    shape-rendering: crispEdges;
}

#air-emissions-chart .y.axis line {
    stroke: lightgrey;
}

#air-emissions-chart .x.axis .minor {
    stroke-opacity: .5;
}

#air-emissions-chart .x.axis path {
    display: none;
}

#air-emissions-chart .y.axis path {
    display: none;
}

#air-emissions-chart .x.axis line {
    display: none;
}

#air-emissions-chart .y.axis text {
    font-size: 64%;
}

#air-emissions-chart .gas-pfc {
    fill: #2b0046;
}

#air-emissions-chart .gas-hfc {
    fill: #fe522e;
}

#air-emissions-chart .gas-nf3 {
    fill: #3a2b32;
}

#air-emissions-chart .gas-sf6 {
    fill: #991a4d;
}

#air-emissions-chart .gas-n2o {
    fill: #ffbc02;
}

#air-emissions-chart .gas-ch4 {
    fill: #dfd3af;
}

#air-emissions-chart .gas-co2 {
    fill: #007e87;
}

#air-emissions-chart .legend text {
    fill: white;
}