/* line 1, ../sass/other_items_of_interest.scss */
.paginate_button {
    padding: 0.75em !important;
}

/* line 4, ../sass/other_items_of_interest.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}

/* line 8, ../sass/other_items_of_interest.scss */
.paginate_disabled_next, .paginate_disabled_prev {
    display: none !important;
}

/* line 12, ../sass/other_items_of_interest.scss */
#other-areas-tabs .interests-url-hyperlink,
#other-areas-tabs .interests-url-text {
    white-space: normal;
}

/* line 16, ../sass/other_items_of_interest.scss */
#other-areas-tabs .interests-url-text {
    word-break: break-all;
    font-size: 1.3rem;
    margin-top: 2px;
}

/* line 21, ../sass/other_items_of_interest.scss */
.other-items.ui-dialog, .other-items-form.ui-dialog {
    height: 90% !important;
}

/* line 25, ../sass/other_items_of_interest.scss */
.action-links .first {
    border-right: 1px solid #aaa;
    padding-right: 10px;
}

/* line 30, ../sass/other_items_of_interest.scss */
.action-links .last {
    padding-left: 5px;
}

/* line 34, ../sass/other_items_of_interest.scss */
#other-areas-tabs .action-links {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

/* line 38, ../sass/other_items_of_interest.scss */
#other-areas-tabs .dataTables_wrapper .dataTables_info {
    font-size: 1.4rem;
    color: #444;
    display: inline-block;
}

/* line 43, ../sass/other_items_of_interest.scss */
#other-areas-tabs .dataTables_filter {
    float: right;
}

/* line 47, ../sass/other_items_of_interest.scss */
#restrict-to-states-button.inactive, #all-states-button.inactive {
    background-color: white;
    color: black;
}

/* line 52, ../sass/other_items_of_interest.scss */
#other-areas-tabs .ui-tabs-panel {
    padding: 5px 0;
}
