//colors
$color_hippie_green_approx: #468847;
$color_willow_brook_approx: #dff0d8;
$color_beryl_green_approx: #d6e9c6;
$color_chestnut_approx: #b94a48;
$color_vanilla_ice_approx: #f2dede;
$color_gallery_approx: #eee;
$white: #fff;
$color_vista_white_approx: #fdf7f7;
$color_chestnut_rose_approx: #d9534f;
$color_bianca_approx: #fcf8f2;
$color_casablanca_approx: #f0ad4e;
$color_black_squeeze_approx: #f4f8fa;
$color_viking_approx: #5bc0de;
$color_mountain_mist_approx: #949494;
$color_ecstasy_approx: #ff851b;

//@extend-elements
//original selectors
//input.parsley-success, select.parsley-success, textarea.parsley-success
%extend_1 {
    color: $color_hippie_green_approx;
    background-color: $color_willow_brook_approx;
    border: 1px solid $color_beryl_green_approx;
}

//original selectors
//input.parsley-error, select.parsley-error, textarea.parsley-error
%extend_2 {
    color: $color_chestnut_approx;
    background-color: $color_vanilla_ice_approx;
    border: 1px solid $color_vanilla_ice_approx;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container() {
    position: relative;
    box-sizing: border-box;
}

@mixin bwi-label($url) {
    background-image: url($url);
    background-size: 3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    content: "";
    vertical-align: middle;
    margin-right: 1%;
}

.ui-dialog.be-well-informed-modal {
    &.ui-dialog {
        overflow: visible;

        .ui-dialog-titlebar {
            border: none;
            z-index: 100;
        }

        .ui-dialog-content {
            overflow: visible;
        }
    }
}

#be-well-informed-modal {
    .navigation-tabs,
    .bwi-resources-list {
        margin: 0;
        li:before,
        li:after {
            content: none;
        }
    }
    
    .bwi-lab-list {
        li {
            display: block;
            margin-left: 30px;
            &:before {
                display: inline-block;
            }
            
        }
    }
    
    .ui-tabs {
        .ui-tabs-nav {
            display: block;
            border-bottom: 1px solid #f1f1f1;
            li {
                margin-right: 0;
                font-size: 1.5rem;
                margin-bottom: 3px;
                float: none;
                display: inline-block;
                margin-bottom: -1px;
                &.ui-tabs-active {
                    border-bottom: 3px solid #007AC6;
                    margin-bottom: -4px;
                    padding-bottom: 0px;
                }
            }
        }
    }
    
    .ui-state-default {
        background: none;
        border: none;
        font-weight: normal;
        color: inherit;
        a,
        a:link,
        a:visited {
            color: #212121;
        }
        // Fix tab hover colors
        a:hover,
        a:focus,
        a:active {
            color: #191919;
        }
    }
    
    .ui-state-active,
    .ui-widget-content .ui-state-active,
    .ui-widget-header .ui-state-active {
        font-weight: bold;
        background: transparent;
        border: none;
    }
    
    .ui-corner-all,
    .ui-corner-bottom,
    .ui-corner-right,
    .ui-corner-tl,
    .ui-corner-tr,
    .ui-corner-br,
    .ui-corner-bl {
        border: none;
        border-radius: 0 !important;
    }    
    
    #be-well-informed-form-wrapper {
        & > div:first-child {
            overflow: visible;
        }
        h2 {
            margin-top: -3rem;
        }
        .section {
            border-bottom: 1px solid #cccccc;

            &:last-child {
                border-bottom: none;
            }

            label, .absent-present > span, .absent-present div {
                margin: 0.2rem 0;
                padding: 1rem 0rem;
            }

            input {
                text-align: right;
                color: #333333;
            }

            select {
            }

            .absent-present {
                float: right;

                & > span {
                    color: #666666;
                    line-height: 2rem;
                    font-size: 1.1rem;
                }
            }
            [type=radio] + label {
                margin: -1rem 0 1rem;
                padding: 0rem 1rem;
                display: block;
                float: left;
            }

        }
        .microbiology {
            .parsley-errors-list {
                width: 100%;
                li {
                    text-align: left;
                }
            }
        }
        .city-selection {
            border: none;
            .column{
                &.one-half {
                    float: left;
                }
                &.right {
                    margin-left: 0;
                }
            }
        }
        .symbol {
            color: #666666;
            .sub {
                font-size: 1rem;
            }
        }
        .row {
            @include clearfix();
        }
        .column {
            position: relative;
            min-height: 0.1rem;
            padding-right: 0.9375rem;
            padding-left: 0.9375rem;
            &.right {
                float: right;
            }
        }
        .reset-submit {
            margin-top: 2rem;
            button {
                float: left;
                width: 47.4%;
            }
            & > div {
                width: 21em;
            }
        }
        .one-third {
            width: 31.3%;
            margin-left: 3%;
            float: left;
            &:first-child {
                margin-left: 0;
            }
            & + .parsley-errors-list {
                margin-left: -31.3%;
                width: 30%;
                float: left;
                position: relative;
            }
            &.offset-one-third {
                margin-left: 34.3%;
            }
        }

        .two-third {
            width: 62.6%;
            margin-left: 3%
        }
        .one-half {
            width: 49%;
            margin-left: 2%;
            &:first-child {
                margin-left: 0;
            }
            & + .parsley-errors-list {
                margin-right: -48.5%;
                width: 47%;
                position: relative;
            }

            &.right + .parsley-errors-list {
                float: right;
                clear: right;
                margin-top: -4.2rem;
                margin-right: 5.0rem;
                width: auto;
            }
        }
        .red {
            color: $color_chestnut_approx;
        }
        .hidden {
            display: none !important;
            visibility: hidden !important;
        }
        .be-well-inform-source {
            padding-top: 1.5rem;
            display: block;
            margin-left: -0.9375rem;
        }
    }

    #interactive-prompts {
        .btn-group {
            float: right;
            width: 21.3em;
            button {
                float: left;
                width: 48.7%;
                &:last-child {
                    margin-right: 0;
                }
            }
            & > input, & > select {
                display: inline-block;
            }
        }
    }
    .treatment-content {
        .treatment-step {
            width:100%;
            background-color: #cccccc;
            margin-bottom: 1rem;
            padding: 1rem;
        }
        & > h3 {
            font-size: 17px;
            font-weight: bold;
            color: Red;
            margin-left: 17px;
            margin-top: 10px;
        }
        .treatment_order_title {

        }
        .caret {
            border-left: 23px solid transparent;
            border-right: 23px solid transparent;
            border-top: 23px solid #ffffff;
            display: inline-block;
            height: 0;
            margin-top: -1rem;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            z-index: 999;
        }
        .step {
            margin-bottom: 1rem;
            span {
                margin-top: -1.5rem;
                margin-left: -1.5rem;
                padding: 1.6rem 1rem;
                display: inline-block;
                color: #fff;

            }
        }
        .fill-step {
            background-color: Red;
            border: .5rem solid white;
        }
        .no-step {
            background-color:transparent;
            border: none;
        }
        .step-icon {
            &:before {
                position: absolute;
                background-size: 5rem;
                background-repeat: no-repeat;
                display: inline-block;
                content: "";
                vertical-align: middle;
            }
            &.home-icon:before {
                background-image: url('../images/smallhome2.png');
                width: 5rem;
                height: 5rem;
                margin-left: 6.5rem;
                margin-top: -1.2rem;
            }
            &.facet-icon:before {
                background-image: url('../images/facet.png');
                width: 3rem;
                height: 4rem;
                background-size: 3rem;
                margin-left: 7rem;
                margin-top: -0.5rem;
            }
        }
        .home-icon, .facet-icon {
            float: none;
        }
        .or {
            width: 100%;
            text-align: center;
            display: inline-block;
            padding: 0.5rem;
        }
        .box-main {
            display: inline-block;
            vertical-align: middle;
            background-color: #fefefe;
            border: 1px solid #999999;
            padding: 1rem 1rem;
            width: 100%;
            &:first-child .or, &.hide + .or {
                display: none;
            }
        }
        .instruction-icon {
            padding-left: 7rem;
            min-height: 6rem;
            &:before {
                position: absolute;
                background-size: 5rem;
                background-repeat: no-repeat;
                display: block;
                width: 5rem;
                height: 5rem;
                content: "";
            }
            &.home-icon:before {
                background-image: url('../images/smallhome2.png');
                margin-left: -6rem;
                margin-top: 0rem;
            }
            &.facet-icon:before {
                background-image: url('../images/facet.png');
                width: 3rem;
                height: 4rem;
                background-size: 3rem;
                margin-left: -5rem;
                margin-top: 0.3rem;
            }
        }
        .additional-text {
            padding: 1rem;
            background-color: #fefefe;
            border: 1px solid #999999;
            margin-bottom: 1rem;
        }
    }
    .invisible {
        visibility: hidden;
    }
    .hide {
        display: none !important;
    }
    .right {
        float: right;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }

    input {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    select {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    textarea {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    .parsley-errors-list {
        margin: 0.5rem 0 3px;
        padding: 0;
        list-style-type: none;
        font-size: 1rem;
        line-height: 0.9em;
        opacity: 0;
        transition: all .3s ease-in;
        pointer-events: none;

        &.filled {
            opacity: 1;
        }
        li {
            list-style: none;
            width: 100%;
            text-align: right;
            color: $color_chestnut_approx;
            &:before {
                content: '';
            }
        }
    }
    .bs-callout {
        margin: 20px 0;
        padding: 20px;
        border-left: 3px solid $color_gallery_approx;
        h4 {
            margin-top: 0;
            margin-bottom: 5px;
        }
        code {
            background-color: $white;
            border-radius: 3px;
        }
        p:last-child {
            margin-bottom: 0;
        }
    }
    .bs-callout-danger {
        background-color: $color_vista_white_approx;
        border-color: $color_chestnut_rose_approx;
        h4 {
            color: $color_chestnut_approx;
        }
    }
    .bs-callout-warning {
        background-color: $color_vanilla_ice_approx;
        border-color: $color_chestnut_approx;
        h4 {
            color: $color_chestnut_approx;
        }
    }
    .bs-callout-info {
        background-color: $color_black_squeeze_approx;
        border-color: $color_viking_approx;
        h4 {
            color: $color_viking_approx;
        }
    }

    #be-well-informed-results-wrapper, #be-well-informed-error-wrapper, #be-well-informed-loading-wrapper {
        display: none;
    }

    #be-well-informed-loading-wrapper {
        i {
            font-size: 5rem;
        }
    }

    #be-well-informed-results-wrapper {
        > h1 {
            margin-top: -3rem;
            margin-bottom: 3rem;
        }
        ol {
            margin-top: 0;
            margin-left: 4rem;
            margin-bottom: 1rem;
            li {
                list-style-type: decimal;
                display: block;
                &:before {
                    display: inline-block;   
                    margin-left: -2.0rem; // Create hanging indent for numbering           
                }
            }
            ol {
                margin-top: 0;
                margin-left: 2rem;
            }
        }
        ul {
            margin-top: 0;
            margin-left: 1.4rem;
            li:before {
                content: '';
            }
        }
        ol[type=a] {
            counter-reset: section;
            li {
                counter-increment: section;
                display: block;
                padding-left: 1em;
                &:before {
                    content: counter(section, lower-alpha) '.';
                    position: absolute;
                    margin-left: -1.5em;
                }
            }
        }

        table {
            thead th {
                background: transparent;
            }
            border-bottom: none;
        }
        .ui-accordion-content {
            padding: 0;
        }
        .bwi-result-title {
            padding-left: 2rem;
            display: block;
        }

        .one-half {
            float: left;
            display: block;
            width: 100%;
            &:first-child {
                margin-left: 0;
            }
        }

        #be-well-informed-accordion {
            margin-top: 10px;
            background-color: #ffffff;
            font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
            &>table, &>div {
                padding: 0 1%;
            }
            h1 {
                background: #0000BB none;
                color: white;
                font-size: 1.5rem;
                display: block;
                position: relative;
                margin: 2px 0 0 0;
                padding: .5em 0;
                min-height: 0;
                i {
                    position: absolute;
                }
            }
            .bwi-legend {
                width: 100%;
                display: block;
                border:1px solid #999999;
                padding: 1rem;
                div {
                    padding: 1rem;
                    white-space: nowrap;
                }

                .bwi-meets-limit:before {
                    @include bwi-label('../images/check.png');
                }
                .bwi-above-limit:before {
                    @include bwi-label('../images/false.png');
                }
                .bwi-close-to-limit:before {
                    @include bwi-label('../images/exclamation.png');
                }
                .bwi-no-entry:before {
                    @include bwi-label('../images/circle.png');

                }
                .bwi-consult:before {
                    @include bwi-label('../images/orange.png');

                }
            }

            #be-well-informed-result-details-table {
                tbody {
                    tr {
                        .bwi-detail-td {
                            h4 {
                                margin: 0 0 1rem;
                            }
                            span {
                                font-weight: bold;
                                display: block;
                                margin-bottom: 1%;
                            }
                            br {
                                display: none;  // Collapse empty space to avoid excessive spacing
                            }
                            background-color: #d6d2d2;
                        }
                        .bwi-detail-td.font-red {
                            border-left: 0.5rem solid red;
                        }
                        .bwi-detail-td.font-green {
                            border-left: 0.5rem solid #35aa47;
                        }
                        .bwi-detail-td.font-yellow {
                            border-left: 0.5rem solid Orange;
                        }
                    }
                }
            }
            table {
                td {
                    img {
                        width: 3rem;
                    }
                }
            }

        }
    }
    #be-well-informed-results-wrapper, #be-well-informed-error-wrapper {
        display: none;
    }
    
    .bwi-support-box {
        border: 1px solid #007AC6;
        margin-bottom: 10px;
        h4 {
            margin: 0;
            padding: 5px 10px;
            background-color: #007AC6;
            color: #fff;
            font-weight: normal;
        }
        .bwi-resource-name {
            font-weight: bold;
        }
        p {
            margin: 0 30px;
            line-height: 1.4;          
            &.bwi-support-intro {
                margin-top: 20px;
            }
        }
        .bwi-resources-list,
        .bwi-lab-list {
            li {
                margin-top: 15px;
                margin-bottom: 15px;
                display: block;
            }
            .fa-phone,
            .fa-send {
                color: #007AC6;
            }
        }
    }
    .print-icon{
      float:right;
    }
}
.clearfix:after {
    display: table;
    line-height: 0;
}

@media screen and (min-width: 48em) {
    #be-well-informed-modal {

        #be-well-informed-results-wrapper {
            .one-half {
                width: 50%;
            }
        }
        .treatment-content {
            .float-center {
                text-align: center;
            }
            .step-boxes {
                display: inline-block;
                width: 100%;
            }
            .box-main {
                width:30%;

                & + .box-main {
                    margin-top: 0;
                }
            }
            .or {
                width: auto;
                padding: 0.5rem;
            }
            .instruction-icon {
                padding-left: 1rem;
                margin-left: 5rem;
                &:before {
                    transform: translateY(50%);
                }
                &.home-icon:before {
                    margin-left: -7rem;
                    margin-top: -2rem;
                }
                &.facet-icon:before {
                    margin-left: -5rem;
                    margin-top: -2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 60em) {

    #be-well-informed-modal {
        #be-well-informed-results-wrapper {
            .one-half {
                width: 50%;
            }
            #be-well-informed-accordion {
                .bwi-legend {
                    div {
                        white-space: nowrap;
                    }

                }
            }
        }
    }
}
