body {
  font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
  font-size: 0.8rem;
  padding-left: 1em;
  padding-right: 1em;
}
.be-well-pdf-title {
  text-align:center;
  font-weight:normal;
  font-size:1.2em;
}
h3 {
  font-size: 1.1em;
  &.of-1 {
    visibility: hidden;
    margin-bottom: -1em;
  }
}
span.bwi-result-title {
  background: #0000BB none;
  color: white;
  font-size: 1em;
  display: block;
  position: relative;
  margin: 2px 0 0 0;
  padding: 0.4em 1em;
  min-height: 0;
  font-weight:700;
}
h3, p {
  padding-left: 1em;
  padding-right: 1em;
}
.bwi-key {
  font-size:1.3em;
  font-weight: 400;
  padding-left: 1em;
}
.bwi-legend {
  margin-left:1em;
  width: 95%;
  height:100px;
  display: block;
  border: 0.1em solid #999999;
  padding: 1em;
  .one-half {
    float:left;
    display:block;
    width:50%;
    margin-bottom:6px;
  }
}
table tr {
  page-break-inside: avoid;  /* To fix issue with footer cutting of text */
}
.summary-table-pdf {
  font-size: 0.9em;
  margin-top: 2em;
  margin-left: 1em;
  .element-col {
    width: 75px;
  }
  .limit-col {
    width:75px;
  }
  th {
    white-space:nowrap;
    text-align:left;
    padding:0 1em 1em 0;
  }
  td {
    border-bottom:1px solid gray;
    padding:0.5em 1em 1em 0;
  }
}

.icon-column img {
  width: 1.5em;
  height: 1.5em;
}
.water-treatment-head {
  margin-left:1em;
  margin-top:2em;
  width:95%;
  height:40px;
  border:1px solid gray;
  padding:0.5em 0.5em 0 0.5em;
  .detail-show {
    color:red;
  }
}
.treatment_order_title {
  color:red;
}
.step-class .treatment-step {
  width:100%;
  background-color:#cccccc;
  margin-bottom:1em;
  padding:1em;
}
.step {
  margin-bottom:1em;
}
.step span {
  margin-top: -1.2em;
  margin-left: -1.2em;
  background-color: Red;
  padding: 0.8em 0.5em;
  display: inline-block;
  color: #fff;
  border: 0.3em solid white;
}
.home-icon, .facet-icon {
  float: none;
}
.or {
  width:100%;
  text-align:center;
  display:inline-block;
  padding:0.2em;
}
.box-main {
  width:50%;
  display:inline-block;
  vertical-align: middle;
  background-color: #fefefe;
  border: 1px solid #999999;
  padding: 0.3em 0.3em;
}
.step-icon {
  &.of-1 {
    visibility: hidden;
  }
  &:before {
    position: absolute;
    background-size: 2em;
    background-repeat: no-repeat;
    display:inline-block;
    content: "";
    vertical-align: middle;
    visibility: visible;
  }
}
.treatment-content .float-center {
  text-align:center;
}
.treatment-content .step-boxes {
  display:inline-block;
  width:100%;
}
.float-center .clearfix:after {
  content:".";
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix:after {
  display:table;
  line-height:0;
}
tr .bwi-detail-td.font-red {
  border-left: 0.3em solid red;
}
tr .bwi-detail-td.font-green {
  border-left: 0.3em solid #35aa47;
}
tr .bwi-detail-td.font-yellow {
  border-left: 0.3em solid orange;
}
tr .bwi-detail-td {
  background-color: #d6d2d2;
  padding-left:0.5em;
}
span.em-und {
  text-decoration:underline;
}
.bwi-detail-td div,
.bwi-detail-td div[style] {
  display: block !important;
}
.bwi-detail-td a[target="_blank"]:after {
  content: " [" attr(href) "]";
}
.bwi-meets-limit,
.bwi-close-to-limit,
.bwi-above-limit,
.bwi-consult,
.bwi-no-entry {
  line-height: 1.5rem;
  &:before {
    background-repeat: no-repeat;
    background-size: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center top;
  }
}
.bwi-consult {
  &:before {
    background-size: 1.15rem;
  }
}