//colors
$color_highlight_blue:  #E1EAF5;
$color-gray-dark:       #323a45 !default;
$color-gray-lighter:    #d6d7d9 !default; // lighten($color-gray-dark, 80%)
$color-gray-lightest:   #f1f1f1 !default; // lighten($color-gray-dark, 91%)
$white:                 #fff;

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container() {
    position: relative;
    box-sizing: border-box;
}

@mixin linear-gradient($gradient-light, $gradient-dark) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($gradient-light), to($gradient-dark));
    background-image: -webkit-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: -moz-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: -ms-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: linear-gradient(to bottom, $gradient-light, $gradient-dark);
}

@mixin button {
    @include linear-gradient(rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .15) 100%);
}

#cr-search {
    #cr-search_field {
        width: 60%;
        display: inline-block;
    }
    label,
    button {
        font-size: 1.5rem;
    }
}

.ui-dialog#chemical-rules-modal {
    &.ui-dialog {
        overflow: visible;

        .ui-dialog-titlebar {
            background-color: transparent !important;
            border: none;
            z-index: 100;
        }

        .ui-dialog-content {
            overflow: visible;
        }
    }
}

#chemical-rules-modal {
    h2 {
        font-size: 2.4rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }
    h3 {
        background-color: $color_highlight_blue;
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 0px;
        padding: 5px 10px;
        margin-left: -10px;
        margin-right: -10px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    #chemical-rules-loading-wrapper {
        text-align: center;
    }
    #cr-modal-toc-icons {
//        position: fixed;
    }
    .cr-structure_container {
        img {
            width: 100px;
        }
        p {
            margin: 0;
            font-size: 1rem;
        }
    }
    ul,
    table {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.cr-lists,
#chemical-rules-modal ul {
    list-style: none;
    li::before,
    li::after {
        content: none;
    }
    .cr-tabs_favorites-link, 
    .cr-tabs_favorites-remove {
        display: inline-block;
        width: auto;   
    }
    .cr-tabs_favorites-link {
        margin-right: 10px;
    }
}
.cr-modal-actions {
    margin-top: 0;
    margin-bottom: 0;
    li {
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 10px;
        a {
            padding: 2px 4px;
            &#cr-save-chemical {
                background: transparent url('../images/plus-circle.svg') 0 50% no-repeat;
                background-size: 20px 20px;
                padding-left: 24px;
            }
        }
    }
}

.clearfix:after {
    display: table;
    line-height: 0;
}

@media screen and (min-width: 48em) {
    #chemical-rules-modal {
        #cr-modal-toc-icons {
            li {
                display: inline-block;
                width: auto;
                margin-right: 10px;
                font-size: 1.2rem;
                line-height: 1.1;
                text-transform: uppercase;
                max-width: 125px;
                vertical-align: top;
                text-align: center;
                a {
                    color: $color_gray_dark;
                    &:visited,
                    &:hover,
                    &:focus,
                    &:active {
                        color: darken($color_gray_dark, 10%);
                    }
                    
                }
            }
        }
        #chemical-rules-results-wrapper {
            .one-half {
                width: 50%;
            }
        }

    }
}

@media screen and (min-width: 60em) {

    #chemical-rules-informed-modal {
        #be-well-informed-results-wrapper {
            .one-half {
                width: 50%;
            }
        }
    }
}
