//colors
$color_highlight_blue:  #E1EAF5;
$color-gray-dark:       #323a45 !default;
$color-gray-lighter:    #d6d7d9 !default; // lighten($color-gray-dark, 80%)
$color-gray-lightest:   #f1f1f1 !default; // lighten($color-gray-dark, 91%)
$color-gold-lighter:    #fff1d2;
$white:                 #fff;

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container() {
    position: relative;
    box-sizing: border-box;
}

@mixin linear-gradient($gradient-light, $gradient-dark) {
    background-image: -webkit-gradient(linear, left top, left bottom, from($gradient-light), to($gradient-dark));
    background-image: -webkit-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: -moz-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: -ms-linear-gradient(top, $gradient-light, $gradient-dark);
    background-image: linear-gradient(to bottom, $gradient-light, $gradient-dark);
}

@mixin button {
    @include linear-gradient(rgba(255, 255, 255, .2) 0%, rgba(0, 0, 0, .15) 100%);
}

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

body.fixed-modal-open {
    overflow: hidden;
    position: fixed;
}

body.viewport-lg {
    position: absolute;
}

.dev-note {
    background-color: $color-gold-lighter;
    padding: 5px 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.cr-chemicals,
.cr-laws {
    font-weight: bold;
    margin-bottom: 0;
}

#cr-search {
    #cr-search_field {
        width: 60%;
        display: inline-block;
    }
    div.has-error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #a94442;
        padding: 5px;
    }
    label,
    button {
        font-size: 1.5rem;
    }
    button {
        vertical-align: bottom;
    }
}

.ui-dialog.chemical-rules-modal {
    overflow-y: hidden;  
}

#chemical-rules-modal {
    h2 {
        font-size: 2.4rem;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        &.anchor-spacing {
            padding-top: 9rem;
        }
    }
    h3 {
        background-color: $color_highlight_blue;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 5px -10px 0;
        padding: 5px 10px;
    }
    p {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
    #chemical-rules-loading-wrapper {
        text-align: center;
    }
    #chemical-metadata {
        li {
            display: inline-block;
            margin-right: 20px;
        }
        .modal-label {
            font-size: 1.3rem;
            display: block;
        }
    }
    #cr-modal-toc-icons {
        display: block;
        padding: 5px 10px;
        margin-left: -10px;
        margin-right: -10px;
        width: auto;
        background-color: #E1EAF5;
        //height: 12rem;
        
        li {
            display: inline-block;
            width: 80px;
            margin-right: 0;
            font-size: 1.1rem;
            line-height: 1.1;
            text-transform: uppercase;
            text-align: center;
            vertical-align: bottom;
            a {
                background: transparent url('../images/placeholder.png') center top no-repeat;
                background-size: 30%;
                padding: 40px 5px 5px 5px;
                height: 90px;
                display: block;
                width: 80px;
                text-align: center;
                color: $color_gray_dark;
                &:visited,
                &:hover,
                &:focus,
                &:active {
                    color: darken($color_gray_dark, 10%);
                }
                &#cr-icon-laws {
                    background-image: url('../images/book-open-bookmark.png');
                }
                &#cr-icon-programs {
                    background-image: url('../images/chart-organisation.png');
                }
                &#cr-icon-structure {
                    background-image: url('../images/picture.png');
                }
                &#cr-icon-properties {
                    background-image: url('../images/information.png');
                }
                &#cr-icon-synonyms {
                    background-image: url('../images/text-align-justify.png');
                }
                &#cr-icon-lists {
                    background-image: url('../images/text-list-bullets.png');
                }                    
            }
        }
        &.sticky-toc {
            height: auto;
            li {
                margin-top: 0;
            }
            a {
                background-size: 30%;
                background-repeat: no-repeat;
                padding-top: 30px;
                height: 70px;           
            }
        }
    }
    .cr-structure_container {
        img {
            width: 100px;
        }
        p {
            margin: 0;
            font-size: 1rem;
        }
    }
    ul,
    table {
        margin-top: 0;
        margin-bottom: 0;
    }
    .fa-heart {
        margin-left: 5px;
        background-size: 14px 14px;
        vertical-align: top;        
    }
}

.cr-lists,
#chemical-rules-modal ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    li::before,
    li::after {
        content: none;
    }
    li {
        display: block;
        margin-top: 0.5rem; 
        margin-bottom: 0.5rem;
    }
    .favorite-chemical-remove,
    .favorite-law-remove {
        display: inline-block;
    }
    .favorite-chemical,
    .favorite-law {
        margin-right: 10px;
    }
    .favorite-chemical-remove,
    .favorite-law-remove {
        padding-left: 24px;
        background: transparent url('../images/fa-times-circle.png') 0 50% no-repeat;
        font-size: 1.2rem;
        color: $color_gray_dark;
    }
}

#chemical-rules-modal {
    .sticky-toc {
        position: static;
        height: auto;
        background-color: #fcfcfc;
        top: 0;
        border: 1px solid #cacaca;
        padding-top: 5px;
    }
    .cr-lists {
        display: block;
        margin-top: 0;
        li {
            border-bottom: 1px solid $color-gray-lightest;
            line-height: 1.2;
            padding-bottom: 10px;
            span.law-entry {
                font-weight: bold;
            }
            span.law-citation {
                display: block;
                font-color: $color-gray-dark;
                font-size: 1rem;
            }
            span.law-lists {
                font-size: 1.3rem;
            }
        }
    }
    #cr-laws-regs-substances {
        .cr-lists {
            li {
              padding-bottom:5px;
              border-bottom: none;
            }
        }
    }
    .cr-modal-actions {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        li {
            display: inline-block;
            font-size: 1.3rem;
            margin-right: 10px;
            a {
                padding: 2px 4px;
                &#cr-save-chemical {
                    background: transparent url('../images/plus-circle.png') 0 50% no-repeat;
                    padding-left: 24px;
                }
                &.cr-future {
                    color: $color-gray-dark;
                    text-decoration: none;
                    &:visited,
                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: none;
                        color: $color-gray-dark;
                    }
                }
            }
        }
    }    
    table#cr-properties-table {
        min-width: 100%;
        width: 100%;
        th, td {
            display: block;
        }
        thead th.cr-property,
        tbody th {
            background-color: #fafafa;
            border-bottom: none;
        }
        thead th.cr-value,
        tbody td {
            border-top: none;
            border-bottom-color: #ccc;
            background-color: #fff;
        }
        tbody {
            th {
                text-align: left;
                span.cr-definition {
                    font-size: 1rem;
                    color: $color-gray-dark;
                    display: block;
                }                
            }
        }
    }
}

.clearfix:after {
    display: table;
    line-height: 0;
}

@media screen and (min-width: 48em) {
    #chemical-rules-modal {
        #cr-modal-toc-icons {
            height: 12rem;
            li {
                display: inline-block;
                width: auto;
                a {
                    background-size: auto;
                    padding: 50px 5px 5px;
                }
            }
            &.sticky-toc {
                position: fixed;
                height: 8rem;
                a {
                    padding-top: 30px;
                    height: 70px;
                }
            }
        }
        table#cr-properties-table {
            thead th.cr-property,
            thead th.cr-value {
                background-color: #fafafa;
                border: 1px solid #d6d7d9;
            }
            tbody th {
                background-color: #fff;
            }
            thead th, 
            tbody th, 
            tbody td {
                display: table-cell;
                border: 1px solid #d6d7d9;
            }
            .cr-property {
                width: 60%;
            }
            .cr-value {
                width: 40%;
            }
        }
        #chemical-rules-results-wrapper {
            .one-half {
                width: 50%;
            }
        }

    }
}

@media screen and (min-width: 60em) {

    #chemical-rules-informed-modal {
        table#cr-properties-table {
            min-width: 70%;
            width: 70%; 
        }
        #cr-modal-toc-icons {
            li {
                margin-right: 10px;
                width: 100px;
                font-size: 1.2rem;
            }
        }
        #be-well-informed-results-wrapper {
            .one-half {
                width: 50%;
            }
        }
    }
}
