//colors
$color_hippie_green_approx: #468847;
$color_willow_brook_approx: #dff0d8;
$color_beryl_green_approx: #d6e9c6;
$color_chestnut_approx: #b94a48;
$color_vanilla_ice_approx: #f2dede;
$color_gallery_approx: #eee;
$white: #fff;
$color_vista_white_approx: #fdf7f7;
$color_chestnut_rose_approx: #d9534f;
$color_bianca_approx: #fcf8f2;
$color_casablanca_approx: #f0ad4e;
$color_black_squeeze_approx: #f4f8fa;
$color_viking_approx: #5bc0de;
$color_mountain_mist_approx: #949494;
$color_ecstasy_approx: #ff851b;
$color_dark_gray: #323a45;

//@extend-elements
//original selectors
//input.parsley-success, select.parsley-success, textarea.parsley-success
%extend_1 {
    color: $color_hippie_green_approx;
    background-color: $color_willow_brook_approx;
    border: 1px solid $color_hippie_green_approx;
}

//original selectors
//input.parsley-error, select.parsley-error, textarea.parsley-error
%extend_2 {
    color: $color_chestnut_approx;
    background-color: $color_vanilla_ice_approx;
    border: 1px solid $color_chestnut_approx;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin container() {
    position: relative;
    box-sizing: border-box;
}

@mixin bwi-label($url) {
    background-image: url($url);
    background-size: 3rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    content: "";
    vertical-align: middle;
    margin-right: 1%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

body.fixed-modal-open {
    overflow: hidden;
    position: fixed;
}

.pane-construction-permits {
    h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .bs-callout {
        padding: 10px;
        margin-top: 10px;
        h4 {
            font-size: 1.5rem;
            margin: 0;
        }
        &.bs-callout-info {
            background-color: #dff0d8;
            border: 1px solid $color-hippie_green_approx;
            padding: 5px;
        }
        &.bs-callout-warning {
            background-color: #f2dede;
            border: 1px solid $color_chestnut_approx;
        }
    }

}

.ui-dialog.construction-permits-modal {
    &.ui-dialog {
        //overflow: visible;

        .ui-dialog-titlebar {
            border: none;
            z-index: 100;
        }

        .ui-dialog-content {
            //overflow: visible;
        }
    }
    .dataTables_wrapper {
        thead th {
            background-color: #ccc;
            &.sorting_asc,
            &.sorting_desc {
                span {
                    font-weight: bold;
                }
            }
            span {
                color: #4c4c4c;
                font-weight: normal;
            }
        }
        .pager__link, .paginate_button {
            padding: 1.2rem;
            background-size: 1rem 1rem;
        }
    }
}
.pane-construction-permits {
    .hide {
        display: none !important;
    }
    .cgp-api-status {
        &.error {
            color: $color_chestnut_rose_approx;
        }
    }
}

#cgp-form {
    #cgp-advanced-elements-toggle {
        margin-left: -20px;
        color: $color_dark_gray;
        img {
            width: 20px;
            height: 20px;
        }
    }
    .fa-info-circle {
        margin-top: -8px;
    }
    input, input[type="text"] {
        max-width: none;
    }
    select {
        margin: 0.2em 0;
    }
    .cgp-form-elements {
        margin: 0;
        li:before,
        li:after {
            content: none;
        }
        li {
            display: inline-block;
            margin-right: 20px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    [for=cgp-federal] + ul,
    [for=cgp-tribal] + ul {
        margin: 0 0;
    }

    #cgp-form-buttons {
        margin-top: 10px;
        height: 8rem;
        div {
            float: right;
        }
        a {
            margin-right: 10px;
        }
    }
    .invisible {
        visibility: hidden;
    }
    .hide {
        display: none !important;
    }
    .right {
        float: right;
    }
    .row {
        @include clearfix();
    }
    .column {
        position: relative;
        min-height: 0.1rem;
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
        &.right {
            float: right;
        }
    }
    .cgp-search-button,
    .cgp-reset-button {
        margin-top: 2rem;
        button {
            float: left;
            width: 47.4%;
        }
        & > div {
            width: 21em;
        }
    }

    input {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    select {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    textarea {
        &.parsley-success {
            @extend %extend_1;
        }
        &.parsley-error {
            @extend %extend_2;
        }
    }
    .parsley-errors-list {
        margin: 0.5rem 0 3px;
        padding: 0;
        list-style-type: none;
        font-size: 1rem;
        line-height: 0.9em;
        opacity: 0;
        transition: all .3s ease-in;
        pointer-events: none;

        &.filled {
            opacity: 1;
        }
        li {
            list-style: none;
            width: 100%;
            text-align: left;
            color: $color_chestnut_approx;
            &:before {
                content: '';
            }
        }
    }

    #construction-permits-results-wrapper,
    #construction-permits-error-wrapper,
    #construction-permits-loading-wrapper,
    #construction-permits-details-wrapper {
        display: none;
    }

    .print-icon {
        float: right;
    }
}

#construction-permits-loading-wrapper {
    text-align: center;
    i.fa-spinner {
        font-size: 5rem;
    }
}

.clearfix:after {
    display: table;
    line-height: 0;
}
#construction-permits-results-wrapper {
    .dataTables_filter {
        float: none;
    }
    table {
        thead {
            th:first-child {
                display: none;
            }
        }
        tbody {
            td:first-child {
                display: none;
            }
        }
    }
}
#construction-permits-details-wrapper.modal {
    .permit-wrapper {
        display: none;
    }
}

#construction-permits-details-wrapper {
    // overflow-y: scroll;
    .permit-wrapper {
        h2 {
            background-color: #0071bc;
            color: #ffffff;
            line-height: 1.5em;
            font-size: 1.1em;
            font-weight: 700;
            padding: .5em 1em;
            font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
        }
        h6 {
            color: #00457d;
            font-weight: 700;
        }
    }
    .notice_of_intent {
        .lew-only {
            display: none;
        }
    }
    .low_erosivity_waiver {
        .noi-only {
            display: none;
        }
    }
    .section {
        .line {
            padding: .5em 0;
        }
        .header {
            background-color: #efeeee;
            padding: .5em 0;
        }
        .row-item {
            padding: .5em 0;
            &.even {
                background-color: #E2F4FF;
            }
            [class^=col] {
                word-wrap: break-word;
                overflow-wrap: break-word;
            }
        }
    }
    .property {
        .title {
            color: #666666;
            &.cgp-subquestion {
                padding-left: 45px;
            }
        }
        .cgp-uppercase {
            text-transform:capitalize;
        }
    }
    .criterion-description {
        display: block;
        text-decoration: underline;
    }
    .cgp-criteria-list {
        margin: 0;
    }
}

#cgp-header {
    background-color: #fff;
    border: 1px solid #fafafa;
    //height: 100px;
    .back-to-results-button {
        font-size: 1.4rem;
        display: block;
        padding: 10px;
    }
    label {
        margin-top: 1rem;
    }
    &.sticky-toc {
        position: fixed;
        z-index: 1;
        -webkit-box-shadow: 0 6px 4px -4px #ddd;
        -moz-box-shadow: 0 6px 4px -4px #ddd;
        box-shadow: 0 6px 4px -4px #ddd;
    }
}

#construction-permits-status-definitions {
    dt {
        font-weight: 700;
    }
    dd {
        margin-bottom: 1em;
        margin-left: 2em;
    }
}

@media screen and (min-width: 48em) {

}

@media screen and (min-width: 60em) {

}
