#chart text {
	font-family: Helvetica Neue,Segoe UI,sans-serif;
	fill: #454545;
}

#chart .popover {
  pointer-events:none;
}

#chart path {
	stroke: #454545;
	stroke-width: 2;
	fill: none;
}
.axis { shape-rendering: crispEdges; }
.y.axis line { stroke: lightgrey; }
.x.axis .minor { stroke-opacity: .5; }
.x.axis path { display: none; }
.y.axis path {
	display:none;
}

#chart tspan {
	margin-bottom: 5px;
	fill: inherit;
}

#chart text.chart-title {
	font-size: 30px;
	font-weight: bold;
}

#chart text.category-label {
	font-weight: 200;
	font-size: 18px;
}

#chart text.active-category-text {
	font-size: 22px;
	font-weight: bold;
  letter-spacing: -1px;
}

#chart text.active-date-text {
	font-weight: bold;
}

#chart .section-good {
  /*fill: #00e400;*/
  fill: #73cd93;
  stroke: none;
}

#chart .section-moderate {
  /*fill: #ffff00;*/
  fill: #f6f467;
  stroke: none;
}

#chart .section-unhealthy-for-sensitive {
  /*fill: #ff7e00;*/
  fill: #f89b63;
  stroke: none;
}

#chart .section-unhealthy {
  /*fill: #ff0000;*/
  fill: #d84a4a;
  stroke: none;
}

#chart .section-very-unhealthy {
  /*fill: #99004c;*/
  fill: #A53B6C;
  stroke: none;
}

#chart .section-hazardous {
  /*fill: #7e0023;*/
  fill: #84347E;
  stroke: none;
}

#chart .popover {
  font-family: Helvetica Neue,Segoe UI,sans-serif;
}