/** Reset and Bootstrap Adjustment Styles *********************************************************/
body {
	font-family: Lato, sans-serif !important;
	line-height: 1.42857143 !important;
	 /* s.css override */
	background: #336699;
}
.modal-open {padding-right:0 !important;}
h1, h2, h3, h4, h5, h6, th, legend, caption, b, strong, select, input, label, textarea, keygen, button {
	font-family: Lato, sans-serif !important; /* s.css override */
}
h2 {font-size:2em;}
h3 {font-size:1.5em;}
button {height:auto;}
a {color: #23527C;}
a:visited {color: #5588BB}
.well a:hover {color:#333333;}
.well a:hover:focus, .mobile-bar a:hover {color:#ffffff;}
a:focus {color:#ffffff;} /*Override Bootstrap focus color given EPA background color on focus*/
label {font-weight:normal;margin-bottom:2px;}
button, input[type="button"], input[type="reset"], input[type="submit"], .button, #edit-cancel, .addtocal {margin-bottom: 0.5em;}
.site-slogan {line-height:55px;vertical-align: bottom;}
#learnmore .modal-content {padding:30px;}
#learnmore .modal-header, #learnmore .modal-footer {border:none;}
#learnmore .modal-title {padding-left:0;}
#learnmore-close {font-size: 1.375em;line-height: 1;position: absolute;top: 0.5em;right: 0.6875em;color: #aaaaaa;font-weight: bold;cursor: pointer;}

.jumbotron {
	margin-bottom: 0px;
    background-image: url('../images/nurturingtree-2.jpg');
    background-position: 0% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #262626;
    text-align: center;   
}
.jumbotron .well {opacity:0.9;margin:0 auto;margin-top:85px;margin-bottom:2em;}
.jumbotron .well-narrow {margin-top:30px;}
.page-eenterprise-for-environment .row.shaded br {display:none;}
#login-group form, #login-group a {display:inline-block;}
#login-group a {margin-left:20px;padding:5px 15px;}

#edit-e-enterprise-bridge {background-color: #337ab7;padding:1em 3em;height:auto;border-color:#337ab7;border-radius:4px;font-size:1.25em;font-weight:normal;}

/** Accessibility Helper Styles *********************************************************/
/*div[id^='block-views-'] */

.element-invisible, .page-welcome .page-title, .page-welcome .article-title, .page-eenterprise-for-environment .article-title {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.page-welcome h1 .element-invisible.element-focusable:active,
.page-welcome h1 .element-invisible.element-focusable:focus {
  clip: auto;
  position: static !important;
}

/** Main OneEPA Template Styles *********************************************************/
.main-nav {position:relative;clear:left;}
.secondary-nav {position: absolute;right: 1em;top: 3.25em;}
.jumbotron p {margin-bottom:0;}
.well-narrow {max-width:25em;margin:0 auto;}
.breadcrumb-title, .breadcrumb, .breadcrumb a {padding:5px;}
.breadcrumb {margin-top:20px;background-color: transparent;border-radius: none;}

/** Search Styles *********************************************************/
#block-search-form {padding-top: 1em;position: relative;}
.search-results h3 {padding-bottom:0.25em;}
.search-snippet {padding-bottom:0.25em;}
.search-advanced {top:0;}

/** General Table Styles *********************************************************/
table, th, td {
	border:none;
}
/*tr {
	border-bottom:1px solid #efefef;
}*/
th, td {
	padding: 5px 10px;
	border: none;
	line-height:1.2;
}
th {
	background-color: #ffffff;
	text-align: center;
}
.field-multiple-table th {
	text-align: left;
}
.views-field-counter {
	text-align: right;
}
td {
	vertical-align: top;
}
tr:nth-of-type(even) {
	background-color: #f0f0f0;
}

/** Profile Styles *********************************************************/
.field-name-field-profile-first-name, .field-name-field-profile-last-name {display:inline-block;}
#user-profile-form table, #user-profile-form th {border:none;}
#user-profile-form th {text-transform: none;font-size:1.5em;}
#user-profile-form .form-text {font-size:100%;}
#user-profile-form .description {color:#333333}
#user-profile-form .form-item .form-type-textfield {padding-bottom:0.5em;}
#user-profile-form .form-type-textfield {margin-right:20px;width:20em;}
/*#user-profile-form .form-type-textfield.form-item-mail {clear:left;width:50em;}*/
#user-profile-form .form-type-textfield.form-item-mail input {width:20em;/*border:none;padding:0;*/margin-bottom:10px;}
#user-profile-form .form-type-textfield .description {margin-top:5px;}
#user-profile-form .form-type-textfield label {font-size:0.95em;}
#user-profile-form .form-type-textfield label, #user-profile-form .form-type-textfield input {display:block;}
.draggable .handle {font-size:2em;}
#user-profile-form .eenterprise-utility-form-item-description-p { margin-bottom: .5em; padding-bottom: 0px;}
#user-profile-form .eenterprise-utility-form-item-description-p.field-title-below { margin-bottom: 1.5em; padding-bottom: 0px;}
#field-profile-favourites-values thead tr .field-label,
#edit-field-profile-favourites thead { display:none;}
.form-item-field-profile-interests-und label:first-child{ display:none;}
a.tabledrag-handle .handle {margin: 0 0.25em}
#user-profile-form thead label {padding:1em 1em 0.25em 0.5em;}
#user-profile-form thead, #user-profile-form th, #user-profile-form tr:nth-of-type(even) {background-color:transparent;}
#user-profile-form td {border:none;}
#user-profile-form .form-submit {text-transform: capitalize; background-color: #337ab7;padding:0.5em 1em;height:auto;border-color:#337ab7;border-radius:4px;font-size:0.95em;font-weight:normal;margin-left:30px;}
.view-user-profile .field-label {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	}
#user-profile-form #field-profile-favourites-add-more-wrapper .form-item,
#user-profile-form #zipcode_description .form-item {
	padding-bottom: 0px;
}
#user-profile-form #zipcode_description table tr:last td:last {
	width:200px;	
}

#user-profile-form .panel {
	min-height: 330px;
}
#user-profile-form .ajax-progress {

  display:block !important;
  position: inherit !important;
}

#user-profile-form .add_more_holder {
	width: 462px;
}

#user-profile-form  #zipcode_description label {
	float: left;
}

#user-profile-form .field-add-more-submit {
	background-color: green; height:40px; width:43px; margin: 0px;
/*	 position:absolute; bottom: 55px; left: 462px;*/
}

#user-profile-form #tags {
	width: 100%; height:40px;
}
.ui-menu .ui-menu-item a{
    font-size:20px;
}
.ui-widget-content {
	max-height: 300px; overflow-y: scroll; overflow-x: hidden;
}

#user-profile-form .label {
	cursor: pointer;
}


.view-user-profile .field-name-field-profile-first-name .field-item {margin-right:0.4em;}
/*.draggable .multiple-fields-remove-button {display:inline-block;margin-left:0;vertical-align: top;padding: 4px 8px;}*/
/*.draggable .multiple-fields-remove-button {float:right;}*/
.draggable .form-type-textfield, .draggable .field-multiple-drag  {display:inline-block;}
.draggable .field-multiple-drag {padding-top: 0.5em;}
/*.multiple-fields-remove-button {margin-left:0.25em !important;padding:0.25em 0.5em !important;}*/
#field-zip-code-values .tabledrag-handle, #field-profile-favourites-values .tabledrag-handle {top:-10px;}

#user-profile-form .description{ display:table;}
#user-profile-form .field-suffix,
#user-profile-form .move-zipcode  { display:inline; float: right !important;}
#user-profile-form .last-td { display:flex;}
 #user-profile-form .last-td .ajax-progress-throbber {margin-left: 2px; margin-top: 13px;}
.autocomplete-interests ul { list-style-type: none; padding-bottom: 0px;}
/** Functional Styles *********************************************************/
.messages--status.messages.status {margin-bottom:0;}
.messages { font-size: 16px;}
.page-eenterprise-for-environment section {padding:0;}
.page-eenterprise-for-environment ul {list-style:none;}
.page-eenterprise-for-environment .breadcrumb, .page-eenterprise-for-environment .breadcrumb-title {display:none;}
.page-eenterprise-for-environment .row {padding:1em 0;}
.page-eenterprise-for-environment .row {margin-left:0px !important;margin-right:0px !important;}
.page-eenterprise-for-environment .view-footer h3 {margin-left:1em !important;} /* s.css override */
.page-eenterprise-for-environment .view-footer h3 {margin-top:1em;margin-bottom:5px;padding-bottom:0;}
.page-eenterprise-for-environment .view-footer li h3 {margin:0 !important;}
.row.shaded {background-color:#f7f7f9;border:1px solid #e1e1e8;border-width:1px 0;margin:1em 0 !important;padding:0 1em;}
#benefits li img {display:block;max-width: 75%; margin: 0 auto;}
#including li img {display:inline-block;vertical-align: top;margin-top:1em;margin-right:10px;width:3.5em;height:3.5em;}
#including li div {display:inline-block;vertical-align: top;width:85%;margin-left:10px;}
.page-eenterprise-for-environment h2 {padding-left:30px}
.page-eenterprise-for-environment li h3 {padding-bottom:0;}
.page-eenterprise-for-environment li br {display:none;}
.page-eenterprise-for-environment .view-footer {padding-left:30px;}
.view-ee-release-note-list ul {border-left:4px solid #aaaaaa;margin-left:1.5em;}
.view-ee-release-note-list li h3 {font-size:1.15em;}
.view-ee-release-note-list p {font-size:90%;padding-bottom:10px;line-height:1.6}
.page-workbench .block-views, .section-workbench .block-views {float:left;}


@media screen and (min-width: 45em) {
	.page-workbench .block-views.odd, .section-workbench .block-views.odd {width:55%;}
	.page-workbench .block-views.even, .section-workbench .block-views.even {width:40%;}
	.ee-stats-header {width: 36em;}
	.ee-workbench-top-header li {min-width: 4.5em;}
	.ee-workbench-header-locations {width:30em;float:right;margin-right:1.25em;}
	#block-search-form {clear: right;padding-top: 0;float: right;position:initial}
}

@media screen and (min-width: 60em) {
	#block-search-form {position:absolute;right:1.75em;top:6em;}
}

.region-header {
	/* background-color:#fafafa;color:#494949; */
	background-color:#26404c;color:#cccccc;
	margin-left: -15px;
	margin-right: -16px;
	padding: 5px 15px;
}
.region-header a {
	color: #ffffff;
}
.ee-workbench-top-header {
	padding:5px 30px;
}
.ee-workbench-top-header h3, .ee-workbench-top-header .stats-label {
	font-size:0.675em;
}
.ee-workbench-top-header h3 {
	width:6em;
	line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:normal;
}
.ee-workbench-top-header h3, .ee-workbench-top-header .stats-label {
	text-transform: uppercase;
}
.ee-workbench-top-header ul {
    list-style: none;
    padding-bottom: 10px;margin-bottom:0
}
.ee-workbench-top-header h3, .ee-workbench-top-header ul, .ee-workbench-top-header li, .workbench-menu li {
	float:left;
}
.ee-workbench-top-header li, .workbench-menu li {
	display:block;
}
.ee-workbench-header-locations select {
	margin-bottom:10px;
}
.ee-workbench-top-header .stats-count {
	font-size:2.5em;
}
.ee-workbench-top-header .stats-label, .ee-workbench-top-header .stats-label {
	display:block;
}
.ee-workbench-top-header li {
	margin-right:20px;
}
.ee-workbench-header-block {
	float:left;margin-left:20px;padding:5px 10px;
}
.masthead {
	padding-bottom:0;
	border-bottom:1px solid #dddddd;
}
.ee-workbench-header-block a, .ee-workbench-header-locations label, .ee-workbench-header-locations input {
	display:block;
}
.workbench-menu li {
	padding:5px 15px;font-size:95%;
}
#workbench-toggle {
	position:absolute;bottom:10px;right:1.75em;
}
