.pane-views-favorite-sites-block .field-type-text, .pane-views-favorite-sites-block .form-text {
  width: 26em; float: left;
}

.pane-views-favorite-sites-block .remove-button {
  float: right;
}

.pane-views-favorite-sites-block .tabledrag-toggle-weight, 
.pane-views-favorite-sites-block .form-wrapper legend, 
.pane-views-favorite-sites-block .field-type-datetime,
.pane-views-favorite-sites-block  th.views-field, 
.pane-views-favorite-sites-block  .field-multiple-table thead, 
.pane-views-favorite-sites-block  #field-profile-favourites-values,
.edit-actions-submit{
  display: none;
}

.pane-views-favorite-sites-block td.views-field-field-profile-favourites {
  padding: 0px;
}

.pane-views-favorite-sites-block .form-wrapper, .pane-views-favorite-sites-block  tbody{
  border: none;
}

/*.views-row-edit-edit {
  height: 150px;
}*/

.pane-views-favorite-sites-block td, .pane-views-favorite-sites-block .views-row-edit-edit { 
  width: 100%;
}

.pane-views-favorite-sites-block {
  height: 300px; overflow-y: auto;
}