.numThumbnails {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 90%;
}

.wrapper {
  max-width: 620px;
  margin: auto;
}

.jcarousel-wrapper {
  margin: 5px auto;
  position: relative;
}

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel li {
  float: left;
  height: 220px;
  /*width: 200px;*/
  margin-right: 2px;
  margin-left: 2px;
  background-color: #fff;
  padding: 5px;
}

.thumbitem-border {
  padding: 2px;
  border: 1px solid #efefef;
  height: 195px;
  width: 190px;
  margin: auto;
}

.jcarousel img {
  max-height: 121px;
  max-width: 100%;
}

.jcarousel .loading {
  text-align: center;
  line-height: 90px;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 75px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #4E443C;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  font: 24px/27px Arial, sans-serif;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 2px #999;
  -moz-box-shadow: 0 0 2px #999;
  box-shadow: 0 0 2px #999;
  z-index: 10;
}

.jcarousel-control-prev {
  left: -25px;
}

.jcarousel-control-next {
  right: -25px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
  display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
  visibility: hidden;
}

.widgetHeader {
  text-align: left;
  margin-bottom: 0px;
}

.mapAppTitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 40px;
  max-width: 198px;
  font-size: 83%;
  font-weight: bold;
  padding: 5px 5px 2px;
  line-height: 1.2;
}

.mapAppDesc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px auto !important;
  max-height: 40px;
  max-width: 198px;
  font-size: 75%;
  padding: 2px 5px;
  line-height: 1.2;
  padding-bottom: 2px;
}

.mapAppSource {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px auto !important;
  max-height: 40px;
  max-width: 198px;
  font-size: 65%;
  padding: 2px 12px;
  line-height: 1.2;
  padding-bottom: 2px;
}

.thumbnailImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 123px;
  min-height: 121px;
}

.filterMapsByLocationBtn {
  width: 160px;
  height: 40px;
  margin-top: 1px;
  display: block;
  margin: 0 auto;
  background-color: Transparent;
  background-image: none !important;
  background-repeat:no-repeat;
  border: 1px solid #dedede;
}

.filterMapsByLocationImg {
  width: 25px;
  height: 25px;
  float: left;
  padding-top: 1px;
}

/*important indeed*/
.mapiFrame {
  height: 100% !important;
  max-height: 100% !important;
  width: 100% !important;
  max-width: 100% !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 55px !important;
  margin-bottom: 0px;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.mapDialog {
  height: 90% !important;
  max-height: 90% !important;
  width: 95% !important;
  max-width: 95% !important;
  overflow-y: hidden !important;
}

.mapiFrameFooter {
  height: 30px !important;
  max-height: 30px !important;
  width: 100% !important;
  max-width: 100% !important;
  font-size: 10px;
  margin-top: 0px;
  line-height: 0;
}

/*override default jQ UI CSS per Designer's input */
.ui-widget-overlay {
  opacity: 0.9;
}
