.paginate_button {
    padding : .75em !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0px;
}


.interests-url-hyperlink, .interests-url-text {
    word-wrap: break-word;
    white-space: normal;
}

.interests-url-text {
    font-size: 0.85em;
    color: #444;
    margin-top: 2px;
}

.action-links {
	font-size: 0.85em;
}
.action-links .first {
    border-right: 1px solid #aaa;
    padding-right: 10px;
}

.action-links .last {
    padding-left: 5px;
}

#other-areas-tabs .dataTables_wrapper .dataTables_info {
    font-size: 0.75em;
    color: #444;
}

#restrict-to-states-button.inactive, #all-states-button.inactive {
    background-color: white;
    color: black;

}

#other-areas-tabs .ui-tabs-panel {
    padding: 5px 0;
}

@media (min-width: 1200px) {
    .interests-url-hyperlink, .interests-url-text {
        width: 100%;
        max-width: 330px;
    }
}


@media (min-width: 900px) and (max-width: 1200px) {
    .interests-url-hyperlink, .interests-url-text {
        max-width: 170px;
        width:100%
    }

}
@media (min-width: 750px) and (max-width: 900px) {
    .interests-url-hyperlink, .interests-url-text {
        max-width: 100px;
        width:100%
    }

}


@media (min-width: 700px) and (max-width: 750px){
    .interests-url-hyperlink, .interests-url-text {
        max-width: 375px;
        width: 100%;
    }

}

@media (min-width: 500px)  and  (max-width: 700px) {
    .interests-url-hyperlink, .interests-url-text {
        max-width: 150px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .interests-url-hyperlink, .interests-url-text {
        max-width: 100px;
        width: 100%;
    }
}

.view-recommended-resources .dataTables_wrapper .pager-current.hidden {
    display:none;
}

.view-recommended-resources #datatable-1 thead{
    display:none;
}


.modal-iframe {
    width: 100%;
    height: 90%;
}

.ui-dialog, .ui-dialog-content {
    height: 90% !important;
}



#edit-field-lgc-link .description {
    width: 280px;
}

#edit-field-lgc-link .description.error {
    color: red;
}

.node-lgc_resource-form .description {
    font-size: 0.75em !important;
    top: 100%;
}

#edit-actions, .resource-edit-cancel-link {
    float: left;
}

