/* line 1, ../sass/recommended_resources.scss */
.paginate_button {
  padding: 0.75em !important;
}

/* line 5, ../sass/recommended_resources.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 0;
}

/* line 9, ../sass/recommended_resources.scss */
#local-resources-tabs .interests-url-hyperlink,
#local-resources-tabs .interests-url-text {
  word-break: break-word;
  white-space: normal;
}

/* line 15, ../sass/recommended_resources.scss */
#local-resources-tabs .interests-url-text {
  word-break: break-all;
}

/* line 19, ../sass/recommended_resources.scss */
#local-resources-tabs .interests-url-text {
  margin-top: 2px;
  font-size: 1.3rem;
}

/* line 24, ../sass/recommended_resources.scss */
#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_info,
.pane-views-recommended-resources-block #local-resources-tabs .dataTables_info {
  padding-top: 15px;
  display: inline-block;
}

/* line 30, ../sass/recommended_resources.scss */
#local-resources-tabs .dataTables_filter {
  float: right;
}

/* line 34, ../sass/recommended_resources.scss */
#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_paginate.paging_simple,
#local-resources-tabs .dataTables_paginate.paging_simple {
  float: none;
  margin: 0 auto;
}

/* line 40, ../sass/recommended_resources.scss */
.action-links .first {
  border-right: 1px solid #aaa;
  padding-right: 10px;
}

/* line 45, ../sass/recommended_resources.scss */
.action-links .last {
  padding-left: 5px;
}

/* line 49, ../sass/recommended_resources.scss */
#restrict-to-states-button.inactive,
#all-states-button.inactive {
  background-color: white;
  color: black;
}

/* line 55, ../sass/recommended_resources.scss */
#other-areas-tabs .ui-tabs-panel {
  padding: 5px 0;
}

/* line 59, ../sass/recommended_resources.scss */
.view-lgc-resources .dataTables_wrapper .pager-current.hidden,
.view-user-recommended-resources thead {
  display: none;
}

/* line 64, ../sass/recommended_resources.scss */
.view-recommended-resources td span,
.view-user-recommended-resources td span {
  display: block;
  font-size: 1em;
  line-height: 1.2;
}

/* line 71, ../sass/recommended_resources.scss */
.view-recommended-resources td span.lgc-resource-topic,
.view-user-recommended-resources td span.lgc-resource-topic {
  text-transform: uppercase;
  font-size: 0.75em;
  color: #666;
  margin-bottom: 5px;
}

/* line 79, ../sass/recommended_resources.scss */
.modal-iframe {
  width: 100%;
  height: 90%;
}

/* line 84, ../sass/recommended_resources.scss */
.recommended-resources.ui-dialog, .recommended-resources-form.ui-dialog,
.recommended-resources.ui-dialog-content, .recommended-resources-form.ui-dialog-content {
  height: 90% !important;
}

/* line 89, ../sass/recommended_resources.scss */
#edit-field-lgc-link .description {
  width: 280px;
}

/* line 93, ../sass/recommended_resources.scss */
#edit-field-lgc-link .description.error {
  color: red;
}

/* line 97, ../sass/recommended_resources.scss */
.node-lgc_resource-form .description {
  font-size: 0.75em !important;
  top: 100%;
}

/* line 102, ../sass/recommended_resources.scss */
#edit-actions input[type="submit"] {
  display: table-cell;
}

/* line 106, ../sass/recommended_resources.scss */
#edit-actions, .resource-edit-cancel-link {
  display: inline;
}

/*
Truncate    text
*/
/* line 113, ../sass/recommended_resources.scss */
.lgc-resource-description {
  /*height: 50px;*/
}

/* line 117, ../sass/recommended_resources.scss */
.resource-edit-cancel-link .link.usa-button.usa-button-outline {
  margin-left: 40px;
  display: initial;
}

/* line 122, ../sass/recommended_resources.scss */
#field-lgc-link-add-more-wrapper input[type="text"] {
  display: table-cell;
}

/* line 126, ../sass/recommended_resources.scss */
#field-lgc-link-add-more-wrapper .field-suffix {
  vertical-align: middle;
  margin-left: 20px;
  font-size: 1.7rem;
}

/* line 132, ../sass/recommended_resources.scss */
#local-resources-tabs td.views-field-nothing div,
.faceted-filters.off {
  display: none;
}

/* line 131, ../sass/recommended_resources.scss */
/* line 138, ../sass/recommended_resources.scss */
#local-resources-tabs td.views-field-nothing a {
  background: url("../images/information.png");
  width: 16px;
  height: 16px;
  display: inline-block;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 148, ../sass/recommended_resources.scss */
.ui-tabs .ui-tabs-panel.local.resources {
  padding-top: 10px;
}

/* line 152, ../sass/recommended_resources.scss */
.local.resources .left {
  float: left;
}

/* line 156, ../sass/recommended_resources.scss */
.faceted-filters {
  background-color: #FAFAFA;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 4px;
  margin-right: 5%;
  /* convert this CSS to use SCSS */
  -moz-box-shadow: 5px 5px 10px 0 #ccc;
  -webkit-box-shadow: 5px 5px 10px 0 #ccc;
  box-shadow: 5px 5px 10px 0 #ccc;
}

/* line 168, ../sass/recommended_resources.scss */
.faceted-filters .toggle {
  cursor: pointer;
  line-height: 20px;
  padding: 0 5px 0 10px;
}

/* line 174, ../sass/recommended_resources.scss */
.faceted-filters .toggle img {
  float: right;
  width: 20px;
  height: 20px;
}

/* line 180, ../sass/recommended_resources.scss */
.faceted-filters.on {
  width: 30%;
}

/* line 184, ../sass/recommended_resources.scss */
.faceted-filters.off {
  width: 35%;
}

/* line 188, ../sass/recommended_resources.scss */
.multiselect-to-checkboxes ul {
  margin: 0;
}

/* line 192, ../sass/recommended_resources.scss */
.multiselect-to-checkboxes li::before {
  content: "";
}

/* line 196, ../sass/recommended_resources.scss */
.multiselect-to-checkboxes label {
  font-size: 1.1rem;
}

/* line 200, ../sass/recommended_resources.scss */
.faceted-filters .facet,
.faceted-filters h3 {
  background-color: #fff;
  border: 1px solid #F2F2F2;
  margin: 0;
}

/* line 207, ../sass/recommended_resources.scss */
.faceted-filters .facet {
  max-height: 150px;
  overflow-y: scroll;
  /* borders on only 3 of the sides */
  border-top: 0;
}

/* line 214, ../sass/recommended_resources.scss */
.faceted-filters h3 {
  margin-top: 5px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 0;
}

/* line 222, ../sass/recommended_resources.scss */
.faceted-filters h3 .icon img {
  width: 16px;
  height: 16px;
  margin: 0 2px 0 5px;
}

/* line 228, ../sass/recommended_resources.scss */
.faceted-filters h3 span.on img.off,
.faceted-filters h3 span.off img.on {
  display: none;
}

/* line 233, ../sass/recommended_resources.scss */
.faceted-filters a.favorites-ignore {
  color: black;
}

/* line 237, ../sass/recommended_resources.scss */
.faceted-filters a.favorites-ignore:hover {
  text-decoration: none;
}

/* line 241, ../sass/recommended_resources.scss */
.manage-my-topics-grid .grid-selector {
  margin-left: 5px;
}

/* line 245, ../sass/recommended_resources.scss */
.manage-my-topics-grid-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 5, ../sass/_rflc.scss */
.faceted-filters {
  width: 100%;
}

/* line 10, ../sass/_rflc.scss */
.views-field.views-field-value-3, .views-field.views-field-value-4 {
  display: none;
}

/* line 16, ../sass/_rflc.scss */
.local.resources .left + .left {
  width: 100%;
}
/* line 20, ../sass/_rflc.scss */
.local.resources.toggle-open .left + .left {
  width: 65%;
}

@media screen and (max-width: 30.01em), screen and (min-width: 48.01em) and (max-width: 60.01em) {
  /* line 26, ../sass/_rflc.scss */
  .faceted-filters.on {
    width: 100%;
  }

  /* line 32, ../sass/_rflc.scss */
  .local.resources.toggle-open .left + .left {
    width: 100%;
  }

  /* line 39, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table {
    margin-top: 1em;
    clear: both;
  }
  /* line 42, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table thead {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  /* line 52, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody,
  .view-lgc-resources .responsive-table tr,
  .view-lgc-resources .responsive-table th,
  .view-lgc-resources .responsive-table td {
    display: block;
    white-space: normal;
    padding: 1rem 0.5rem;
  }
  /* line 60, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table th,
  .view-lgc-resources .responsive-table td {
    vertical-align: top;
  }
  /* line 64, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tr {
    position: relative;
  }
  /* line 66, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tr.odd, .view-lgc-resources .responsive-table tr.even {
    background-color: #ffffff;
  }
  /* line 72, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
  }
  /* line 75, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody td[data-title]:before {
    width: 5em;
    content: attr(data-title);
    position: absolute;
    left: 1em;
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #323a45;
  }
  /* line 84, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody td[data-title] {
    padding-left: 5.5em;
  }
  /* line 87, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody td.resource-title {
    padding-left: 2.5em;
    background-color: #f1f1f1;
    border-left: 1px solid #aeb0b5;
    border-right: 1px solid #aeb0b5;
  }
  /* line 93, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody td.resource-info {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    margin-top: 0.9em;
    margin-left: 0.5em;
  }
  /* line 101, ../sass/_rflc.scss */
  .view-lgc-resources .responsive-table tbody td {
    border-bottom: none;
  }
}
@media screen and (min-width: 60.01em) and (max-width: 72em) {
  /* line 111, ../sass/_rflc.scss */
  .responsive-table .views-field.views-field-value-3, .responsive-table .views-field.views-field-value-4 {
    display: none;
  }
}
