.paginate_button {
    padding : 0.75em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}

#local-resources-tabs .interests-url-hyperlink, 
#local-resources-tabs .interests-url-text {
    word-break: break-word;
    white-space: normal;
}
#local-resources-tabs .interests-url-text {
    word-break: break-all;
}

#local-resources-tabs .interests-url-text {
    margin-top: 2px;
    font-size: 1.3rem;
}
#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_info,
.pane-views-recommended-resources-block #local-resources-tabs .dataTables_info {
    padding-top: 15px;
    display: inline-block;
}

#local-resources-tabs .dataTables_filter {
    float: right;
}

#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_paginate.paging_simple,
#local-resources-tabs .dataTables_paginate.paging_simple {
    float: none;
    margin: 0 auto;
}

.action-links .first {
    border-right: 1px solid #aaa;
    padding-right: 10px;
}

.action-links .last {
    padding-left: 5px;
}

#restrict-to-states-button.inactive, 
#all-states-button.inactive {
    background-color: white;
    color: black;
}

#other-areas-tabs .ui-tabs-panel {
    padding: 5px 0;
}

.view-lgc-resources .dataTables_wrapper .pager-current.hidden,
.view-user-recommended-resources thead {
    display: none;
}

.view-recommended-resources td span,    
.view-user-recommended-resources td span{
    display: block;
    font-size: 1em;
    line-height: 1.2;
}

.view-recommended-resources td span.lgc-resource-topic, 
.view-user-recommended-resources td span.lgc-resource-topic    {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #666;
    margin-bottom: 5px;
}

.modal-iframe {
    width: 100%;
    height: 90%;
}

.recommended-resources.ui-dialog, .recommended-resources-form.ui-dialog,
.recommended-resources.ui-dialog-content, .recommended-resources-form.ui-dialog-content {
    height: 90% !important;
}

#edit-field-lgc-link .description {
    width: 280px;
}

#edit-field-lgc-link .description.error {
    color: red;
}

.node-lgc_resource-form .description {
    font-size: 0.75em !important;
    top: 100%;
}

#edit-actions input[type="submit"] {
    display: table-cell;
}

#edit-actions, .resource-edit-cancel-link {
    display: inline;
}

/*
Truncate    text
*/
.lgc-resource-description {
    /*height: 50px;*/
}
.resource-edit-cancel-link .link.usa-button.usa-button-outline {
    margin-left:40px;
    display: initial;
}

#field-lgc-link-add-more-wrapper input[type="text"] {
    display: table-cell;
}
#field-lgc-link-add-more-wrapper .field-suffix {
    vertical-align: middle;
    margin-left: 20px;
    font-size: 1.7rem;
}
#local-resources-tabs td.views-field-nothing div,
.faceted-filters.off {
    display: none;
}
#local-resources-tabs td.views-field-nothing span {
    background: url("../images/information.png");
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel.local.resources {
    padding-top: 10px;
}
.local.resources .left {
    float: left;
}
.local.resources .dataTables_wrapper {
    width: 440px;
}
.faceted-filters {
    border: 1px black solid;
    padding: 10px 15px;
    margin-right: 15px;
}
.faceted-filters .toggle {
    cursor: pointer;
}
.faceted-filters.on {
    width: 25%;
}
