/** 
	*	Colors from CIOgov Design Standards
	*
	* $color-secondary-dark:       #cd2026;
	* $color-secondary-darkest:    #981b1e;
	* $color-gray-dark:            #323a45;
	*
	**/


.pane-views-favorite-sites-block .field-type-text, .pane-views-favorite-sites-block .form-text {
  width: 26em; float: left;
}

.pane-views-favorite-sites-block .remove-button {
  float: right;
}
.view-favorite-sites .views-table {
  width: 100%;
}

.pane-views-favorite-sites-block .tabledrag-toggle-weight, 
.pane-views-favorite-sites-block .form-wrapper legend, 
.pane-views-favorite-sites-block .field-type-datetime,
.pane-views-favorite-sites-block  th.views-field, 
.pane-views-favorite-sites-block  .field-multiple-table thead, 
.pane-views-favorite-sites-block  #field-profile-favourites-values,
.edit-actions-submit{
  display: none;
}

.pane-views-favorite-sites-block td.views-field-field-profile-favourites {
  padding: 0px;
}

.pane-views-favorite-sites-block .form-wrapper, .pane-views-favorite-sites-block  tbody{
  border: none;
}

/*.views-row-edit-edit {
  height: 150px;
}*/

.pane-views-favorite-sites-block {
  overflow-y: auto;
}
.pane-views-favorite-sites-block #favorite_links-ajax-wrapper {
  height: 70%; overflow: hidden;
}
#favorite_links-ajax-wrapper tr.odd.views-row-first.views-row-last {
	border-top: none;
	border-bottom: none;
}

.transparent-qtip .ui-tooltip-wrapper{
   background-color: transparent;
}

.qtip-default {
  background-color: transparent; border: 0;
}

.qtip-tip, .qtip-tip canvas{
  display: block;
}

.filled {
  color: #cd2026;
}
.filled:hover{
  color: #981b1e;
  cursor: pointer;
}
.empty {
  color: grey;
}
.empty:hover{
  color: #323a45;
  cursor: pointer;
}

.button_input_holder btn, .button_input_holder btn-success, .button_input_holder btn-danger,
.button_input_holder btn:hover, .button_input_holder btn-success:hover, .button_input_holder btn-danger:hover{
  background-color: transparent;
  border:  0;
}

span.fa-heart {
	font-size: 1.25em;
}

span.fa-plus {
  font-size: 2em;
}
td.favorites-holder {
	width:40px;
}