#favLinks .modal-content {
  overflow-y: hidden;
}

#favLinks {
  overflow-y: scroll;
  max-height: 100%;
}

#row-results {
  max-width: 3.8rem;
}

h2::before {
  height: 50px;
  width: 50px;
}

.add-favorite-btn, .edit-favorite-btn, .delete-favorite-btn {
  top: -0.1rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #0071c2;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  padding: 0px 0px;
  border-width: 0px;
}

.edit-favorite-btn, .delete-favorite-btn {
  background-size: 1rem;
}

.add-favorite-btn {
  background-size: .8rem;
}

.form-group {
  border: 0rem;
}

.favorite-links-rows-column label {
  left: 1rem;
}

@media all and (min-width: 768px) {

  .add-favorite-btn-text {
    position: relative;
    padding-top: calc(0.375rem + 1px);
  }

  .add-favorite-btn {
    position: relative;
  }

}

@media all and (min-width: 768px) and (max-width: 1200px) {
  .favorite-links-filter, .add-fav-column, .favorite-links-rows-column {
    flex-basis: 100%;
    max-width: 100%;
  }

  .favorite-links-filter .input-group {
    width: 100%;
  }

}

@media all and (min-width: 1200px) {
  .favorite-links-filter .input-group {
    width: 140%;
  }

  .add-favorite-btn-text, .add-favorite-btn {
    left: 2.8rem;
  }

  .favorite-links-rows-column label {
    left: 3.2rem;
  }
}