@import "bootstrap-variable-overrides";

h2::before {
  height: 50px;
  width: 50px;
}

// small styles
.wapp-small {
  table{
    font-size: 0.75em;
  }

  .datatable-controls {
    display: none;
  }

  .my-certs-tbody {
    height: 65px;
  }

  .cert-needs-attn-decoration {
    top: -1.5rem;
  }
}

// status colum styles
#my-certifications-table {
  .cert-not-completed-decoration {
    background-color: $blue;
  }

  .cert-needs-attn-decoration {
    background-color: $red;
  }
}
