@import "bootstrap-variable-overrides";

h2::before {
  height: 50px;
  width: 50px;
}

// small styles
.wapp-small {
  table{
    font-size: 0.75em;
  }
  .datatable-controls {
    display: none;
  }
}

// status colum styles
#my-certifications-table {
  .cert-needs-attn{
     color: $red;
   }
  .cert-completed {
    color: $green;
  }
  .cert-not-completed {
    color: $blue;
  }

  .cert-not-completed-decoration {
    background-color: $blue;
  }

  .cert-needs-attn-decoration {
    background-color: $red;
  }
}

