@import "bootstrap-mixins-cheatsheet";
@import "utility";
@import "form";
@import "navigation";
@import "cursor";
@import "text-decoration";
html {
  min-height: 100%;
  background-color: $gray-300;
}
body {
  min-height: 100vh;
}
#app {
  display: block;
  min-height: 100vh;
  background-color: $white;

  & > header, & > container {
    background-color: $white;
  }
}

