@import "bootstrap-mixins-cheatsheet";
@import "utility";


#app {
    display: block;
}

.nav-tabs .nav-link {
    border-width: 1px;
    border-bottom: 3px solid #0a6eb4;
}

.nav-tabs {
    .nav-link {
        border: 0 solid transparent;

        @include hover-focus {
            border-bottom: $nav-tabs-border-active-width solid $nav-tabs-border-active-color;
        }

        &.disabled {
            color: $nav-link-disabled-color;
            background-color: transparent;
            border-color: transparent;
            border-width: $border-width !important;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        border-bottom: $nav-tabs-border-active-width solid $nav-tabs-border-active-color;
    }
}