.text-decoration-underline {
  text-decoration: underline !important;
}

.text-decoration-overline {
  text-decoration: overline !important;
}

.text-decoration-line-through {
  text-decoration: line-through !important;
}

.text-decoration-underline-overline {
  text-decoration: underline overline !important;
}
