.workbench-grid {

  .vue-grid-item {
    overflow-y: hidden;
    border: 1px solid $gray-300;
    border-radius: .2rem;
    padding: .5rem;

    &.vue-grid-placeholder {
      background: $blue;
    }
  }
}

// Grid modals
.modal {
  overflow: hidden !important;
}
.modal-content {
  max-height: 90vh;
  overflow-y: scroll;
}


