.workbench-grid {

  .vue-grid-item {
    overflow: hidden;
    border: 1px solid $gray-300;
    border-radius: .2rem;
    padding: .5rem;

    & > div {
      overflow-x: hidden;
    }

    &.vue-grid-placeholder {
      background: $blue;
    }
  }
}

