/* Override the yellow select color inside widget */
.facility-edit-bottom tr.selected td {
  background: inherit;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.cdx_facility_management_block.ui-draggable {
  width: 80%  !important;
  max-width: 1370px;
}

#fmw-type-select-holder, 
#fmw-organization-select-holder, 
#fmw-program-select-holder,
.fmw-launch {
  display: inline-block;
  padding-right: 20px;
  min-width: 12rem;
  vertical-align: top;
}

.fmw-launch {
  min-height: 5rem;
  padding-left: 0;
}

#launch-facility-management {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 15rem;
}

#fmw-organization-select-holder {
  margin-bottom: 30px;
}

.fa-question-circle:before {
  font-family: "FontAwesome";
  color: #0071bc;	
}
.fa-question-circle:hover::before,
.fa-question-circle:active::before {
  color: #205493;	
}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .cdx_facility_management_block .ui-draggable {
  width: 100%;
}

.accordian-map-legend {
  max-width: 100%;
  min-width: 100%;
}

#TribalLandsCheckbox #tribLandsLyrVis {
  width: 15px !important;
  float: left !important;
  margin-top: 5px !important;
  position: static !important;
  margin-right: 10px !important;
}
#TribalLandsCheckbox label {
	color: #333 !important;
  margin-top: 5px;
  margin-bottom: 5px;	
}
.facility-widget-form h1, 
.facility-widget-form h2, 
.facility-widget-form h3, 
.facility-widget-form h4, 
.facility-widget-form h5, 
.facility-widget-form h6, 
.facility-widget-form th, 
.facility-widget-form td,
.facility-widget-form legend, 
.facility-widget-form caption,
.facility-widget-form label,
.facility-widget-form select,
.facility-widget-form a {
	font-family: inherit !important;
}

.facility-widget-form .facility-edit-fields {
  padding-right: 20px;
}

.additional-mailing-address .form-field {
  display: block;
  margin-bottom: 10px;
}
.facility-widget-form div.facility-edit-fields .facility-city,
.facility-widget-form div.facility-edit-fields .facility-state,
.facility-widget-form div.facility-edit-fields .facility-zip-code {
	height: auto !important;
	line-height: 1.4 !important;
}

.facility-widget-form div.facility-edit-fields .facility-city {
	width: 55% !important;
	margin-right: 3% !important;
}

.facility-widget-form div.facility-edit-fields .facility-state {
	margin-right: 2% !important;
}

.facility-widget-form div.facility-edit-fields .facility-county {
	margin-top: 40px !important;
}

.facility-widget-form #facility-state-facility-id {
  width: auto;
}


@media (min-width: 1200px) {
  .cdx_facility_management_block {
    min-width: 1000px;
    max-width: 1000px;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .cdx_facility_management_block {
    min-width: 900px;
  }
}

@media (max-width: 900px) {
  .cdx_facility_management_block {
    min-width: 75px;
  }
}

