/* Override the yellow select color inside widget */
.facility-edit-bottom tr.selected td {
    background: inherit;
}


/*#facility-widget{*/
/*max-width: 1400px;*/
/*}*/

#fmw-type-select-holder, #fmw-organization-select-holder, #fmw-program-select-holder, #launch-facility-management {
    display: inline-block;
    margin:10px 20px;

}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .cdx_facility_management_block .ui-draggable {
    width: 100%;
}

.accordian-map-legend {
    max-width: 100%;
    min-width: 100%;
}


@media (min-width: 1200px) {
    .cdx_facility_management_block {
        min-width: 1000px;
        max-width: 1000px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {
    .cdx_facility_management_block {
        min-width: 900px;
    }
}

@media (max-width: 900px) {
    .cdx_facility_management_block {
        min-width: 75px;
    }
}

