.nav ul, li, a  {margin: 0; padding: 0;}

a {text-decoration: none;}

.toggleMenu {
    display:  none;
    background: #ddd;
    padding: 10px 15px;
    color: #3b5367;
	font-weight: bold;
}


.nav {
    list-style: none;
     *zoom: 1;
 /*    background:#3b5367; */
 text-align: center;
font-weight:600;
}
.nav:before,
.nav:after {

    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 15em;
	font-size: 90%;
	
}
.nav a {
    padding: 10px 15px;
    color:#fff;


}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li > .parent {
	background:#508cc3;
	 background: -moz-linear-gradient(center top , #4d6a83 0%, #3b5367 100%) repeat scroll 0% 0% transparent;
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d6a83), color-stop(50%,#48647c), color-stop(51%,#4b677f), color-stop(100%,#3b5367)); /* Chrome,Safari4+ */
	 
	 moz-border-radius: 5px;
	 border-radius: 5px;
	 	 font-weight: bold;

/*background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
*/
}

.nav > li > a {
    display: block;
}

.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}


.nav li li a {
    display: block;
    background: #ddd;
    color: #000;
	position: relative;
    z-index:100;
    border-top: 1px solid #356697;
}

