#to-do-yadcf-filter-subpart-code,
#to-do-yadcf-filter-report-type{
    display:none;
}

#to-do {
    .eportal-responsive-table {
        tbody,
        td {
            a {
                display: block;
            }
            br {
                display: none; // Remove extra unneeded spacing before Details link
            }
        }
    }
}
#refresh-to-do {
    .update {
        position: absolute;
        right: 3rem;
        width: 10em;
        top: 0em;
        font-size: 1rem;
    }
}
