.paginate_button {
    padding: 0.75em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 0;
}

#local-resources-tabs .interests-url-hyperlink,
#local-resources-tabs .interests-url-text {
    word-break: break-word;
    white-space: normal;
}

#local-resources-tabs .interests-url-text {
    word-break: break-all;
    margin-top: 2px;
    font-size: 1.3rem;
}

#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_info,
.pane-views-recommended-resources-block #local-resources-tabs .dataTables_info {
    font-size: 1.3rem;
    padding-top: 12px;
    display: inline-block;
    width: 45%;
    margin-bottom: 15px;
}

#local-resources-tabs .dataTables_filter {
    float: right;
}

#local-resources-tabs.ui-widget-content:not(#facility-widget) .dataTables_paginate.paging_simple,
#local-resources-tabs .dataTables_paginate.paging_simple {
    float: none;
    margin: 0 auto;
}

#local-resources-tabs {
    .ui-widget-content {      
        a.clear-lgc-resources {
            background-color: #0071bc;
            color: #fff;
            border: 1px solid #0071bc;
            border-radius: 5px;
            font-size: 1.2rem;
            padding: 2px 5px;
            margin-top: 5px;
            display: block;
            width: 10rem;
            text-align: center;
            text-decoration: none;
            &:hover {
                background-color: #205493;
            }
            &:visited,
            &:hover,
            &:focus,
            &:active {
                color: #fff;
            }
        }
    }
    .eportal-responsive-table {
        td.resource-title {
            a {
                display: inline;
            }
        }
    }
}

.grid-stack-item:not(#facility-widget) {
    .ui-widget-content:not(#local-resources-tabs) {
        td {
            a {
                display: inline;
            }
        }
    }
}

.ui-dialog {
    &.about-dialog {
        overflow-y: hidden;
    }
}

#local-resources-tabs .your-selections .selection-lbl {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #888;
}

.action-links .first {
    border-right: 1px solid #aaa;
    padding-right: 10px;
}

.action-links .last {
    padding-left: 5px;
}

#restrict-to-states-button.inactive,
#all-states-button.inactive {
    background-color: white;
    color: black;
}

#other-areas-tabs .ui-tabs-panel {
    padding: 5px 0;
}

.view-lgc-resources .dataTables_wrapper .pager-current.hidden,
.view-user-recommended-resources thead {
    display: none;
}

.view-recommended-resources td span,
.view-user-recommended-resources td span {
    display: block;
    font-size: 1em;
    line-height: 1.2;
}

.view-recommended-resources td span.lgc-resource-topic,
.view-user-recommended-resources td span.lgc-resource-topic {
    text-transform: uppercase;
    font-size: 0.75em;
    color: #666;
    margin-bottom: 5px;
}

.modal-iframe {
    width: 100%;
    height: 90%;
}

.recommended-resources.ui-dialog, .recommended-resources-form.ui-dialog,
.recommended-resources.ui-dialog-content, .recommended-resources-form.ui-dialog-content {
    height: 90% !important;
}

#edit-field-lgc-link .description {
    width: 280px;
}

#edit-field-lgc-link .description.error {
    color: red;
}

.node-lgc_resource-form .description {
    font-size: 0.75em !important;
    top: 100%;
}

#edit-actions input[type="submit"] {
    display: table-cell;
}

#edit-actions, .resource-edit-cancel-link {
    display: inline;
}

/*
Truncate    text
*/
.lgc-resource-description {
    /*height: 50px;*/
}

.resource-edit-cancel-link .link.usa-button.usa-button-outline {
    margin-left: 40px;
    display: initial;
}

#field-lgc-link-add-more-wrapper input[type="text"] {
    display: table-cell;
}

#field-lgc-link-add-more-wrapper .field-suffix {
    vertical-align: middle;
    margin-left: 20px;
    font-size: 1.7rem;
}

#local-resources-tabs td.views-field-nothing div,
.faceted-filters.off {
    display: none;
}

/**
 * Note: #local-resources-tabs as well its children:
 * #all-local-resources-wrapper
 * #user-local-resources-wrapper
 * contain the class 'ui-widget-content'
 */
.grid-stack-item #local-resources-tabs td.resource-info a {
    background: url("../images/information.png");
    width: 16px;
    height: 16px;
    display: block;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 50% 50%;
    padding-left: 50%;
}

.ui-tabs .ui-tabs-panel.local.resources {
    padding-top: 10px;
}

.local.resources .left {
    float: left;
}

.faceted-filters {
    background-color: #FAFAFA;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px 4px;
    margin-right: 5%;
    /* convert this CSS to use SCSS */
    -moz-box-shadow: 5px 5px 10px 0 #ccc;
    -webkit-box-shadow: 5px 5px 10px 0 #ccc;
    box-shadow: 5px 5px 10px 0 #ccc;
}

.faceted-filters .toggle {
    cursor: pointer;
    line-height: 20px;
    padding: 0 5px 0 10px;
}

.faceted-filters .toggle img {
    float: right;
    width: 20px;
    height: 20px;
}

.faceted-filters.on {
    width: 30%;
}

.multiselect-to-checkboxes ul {
    margin: 0;
}

.multiselect-to-checkboxes li::before {
    content: "";
}

.multiselect-to-checkboxes label {
    font-size: 1.1rem;
}

.faceted-filters .facet,
.faceted-filters h3 {
    background-color: #fff;
    border: 1px solid #F2F2F2;
    margin: 0;
}

.faceted-filters .facet {
    max-height: 150px;
    overflow-y: scroll;
    /* borders on only 3 of the sides */
    border-top: 0;
}

.faceted-filters h3 {
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px 0 5px 26px;
    text-indent: -26px;
}

.faceted-filters h3 .icon img {
    width: 16px;
    height: 16px;
    margin: 0 2px 0 5px;
}

.faceted-filters h3 span.on img.off,
.faceted-filters h3 span.off img.on {
    display: none;
}

.faceted-filters .facet input[type=checkbox] + label {
    padding-left: 26px;
    text-indent: -26px;
}

.faceted-filters a.favorites-ignore {
    color: black;
}

.faceted-filters a.favorites-ignore:hover {
    text-decoration: none;
}

.manage-my-topics-grid .grid-selector {
    margin-left: 5px;
}

.manage-my-topics-grid-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

#local-resources-tabs {
    .your-selections {

        span.facet-topic-container {
            border: 1px solid gray;
            margin: 3px 0 0 3px;
            padding: 0 3px 0 3px;
            border-radius: 4px;
            white-space: nowrap;
            text-transform:capitalize;
            display: none;
        }

        a:after {
            content: url('../images/close_black.png');
            margin-left: 5px;
        }

    }
}

@import "rflc";
